<div class="pensamento {{pensamento.modelo}} ff-roboto-mono "[ngClass]="larguraPensamento()">
  <img src="../../../../assets/imagens/{{pensamento.modelo}}.png" alt="aspas">
  <p class="conteudo">{{pensamento.conteudo}}</p>
  <p class="conteudo"><b>{{pensamento.autoria}}</b></p>
  <div class="acoes">
    <button class="botao-editar">
      <img src="../../../../assets/imagens/icone-editar.png" alt="Editar">
      <img src="../../../../assets/imagens/icone-excluir.png" alt="Excluir">
    </button>
  </div>
</div>
